<h1> Edit {{attraction.name}}</h1>
<br>
<form action='/venues/{{venueId}}/attractions/{{attraction._id}}?_method=PUT' method='POST'>
    <div><input type='text' name='name' value='{{attraction.name}}'></div>
    <div><input type='text' name='description' value='{{attraction.description}}'></div>
    <div><input type='text' name='price' value='{{attraction.price}}'></div>
    <br>
    <div> <input type='submit' value='UPDATE' class="button"></div>
    <br>
    <div> <a href='/venues/{{venueId}}/attractions'class="effect">Return to Attrations</a></div>
</form>