<h2>Attractions at {{venue.name}} || <a href="/venues/{{venue._id}}/attractions/new">NEW</a></h2> 

<div>
    {{#each venue.attractions}}
        <br>
        <div> Enter <a href='/venues/{{../venue._id}}/attractions/{{this._id}}'>{{this.name}}</a></div>
        <br>
        <br>
    {{/each}}
<br>
<a href='/venues/{{venue._id}}'>Return to Venue Page</a>

</div>