<h1>All Attractions || <a href="/venues/{{venueId}}/attractions/new">New</a></h1> 

<div>
    {{#each attractions}}
        <br>
        <a href='/venues/{{../venueId}}/attractions/{{this._id}}'>{{this.name}}</a>
        <div>Description: {{this.description}}</div>
        <div>Price: ${{this.price}}</div>
        <br>
        <br>
    {{/each}}
<br>
<a href='/venues/{{venueId}}'>Return to Venue Page</a>

</div>