<h2>All ATTRCATIONS || <a href="/venues/{{venueId}}/attractions/new">NEW</a></h2> 

<div>
    {{#each attractions}}
        <br>
        <div> Enter <a href='/venues/{{../venueId}}/attractions/{{this._id}}'>{{this.name}}</a></div>
        {{!-- <div>Description: {{this.description}}</div>
        <div>Price: ${{this.price}}</div> --}}
        <br>
        <br>
    {{/each}}
<br>
<a href='/venues/{{venueId}}'>Return to Venue Page</a>

</div>