<h1>All Attractions <a href="/venues/{{venueId}}/attractions/new">New</a></h1> 

<div>
    {{#each attractions}}
        <br>
        <div>name: {{this.name}} </div>
        <div>description: {{this.description}}</div>
        <div>price: {{this.price}}</div>
        <br>
        <a href='/venues/{{../venueId}}/attractions/{{this._id}}'>Go to Attraction</a>
        <br>
    {{/each}}
<br>
<a href='/venues/{{venueId}}'>Go back</a>

</div>