<h2>Cast of {{attraction.name}}
    <br>
    <a href="/venues/{{venueId}}/attractions/{{attraction._id}}/casts/new">NEW</a></h2> 

<div>
    {{#each attraction.cast}}
        <br>
        <div> {{this.name}}</div>
        <div> Favorite Horror Movie: {{this.favoriteHorrorMovie}}</div>
        <div> Years Of Scarying: {{this.years}}</div>
        <div> Costume: {{this.costume}}</div>

        <br>
        <br>
    {{/each}}
<br>
<a href='/venues/{{venueId}}/attractions/{{attraction._id}}'class="effect">Return to Attraction</a>

</div>