<h2>Edit Venue</h2>

<form action='/venues/{{venue._id}}?_method=PUT' method='POST'>
    <div><input type='text' name='name' value='{{venue.name}}'></div>
    <div><input type='text' name='city' value='{{venue.city}}'></div>
    <div><input type='text' name='age' value='{{venue.age}}'></div>
    <br>
    <div> <input type='submit' value='UPDATE' class="button"></div>
    <br>
    <div> <a href='/venues/{{venue._id}}'class="effect">Return to Venue</a></div>
</form>