<h1>Edit Venue</h1>

<form action='/venues/{{venue._id}}?_method=PUT' method='POST'>
    <div><input type='text' name='name' value='{{venue.name}}'></div>
    <div><input type='text' name='city' value='{{venue.city}}'></div>
    <div><input type='text' name='age' value='{{venue.age}}'></div>
    <br>
    <div> <input type='submit' value='Update Venue'></div>
    <br>
    <div> <a href='/venues/{{venue._id}}'>Go Back to Venue</a></div>
</form>