<h2>{{venue.name}} || <a href='/venues/{{venue._id}}/edit'class="effect">EDIT</a> </h2>

<div>Location: {{venue.city}}</div>
<div>Recommended Age: {{venue.age}}</div>
<br>
<div>List of <a href='/venues/{{venue._id}}/attractions'class="effect">Attractions</a></div>
<br>
<br>
<div><a href='/venues'class="effect">Return to Venues</a></div>
<br>

<br>

<form action='/venues/{{venue._id}}?_method=DELETE' method='POST'>
    <input type="submit" value="DELETE VENUE">
</form>
